#app {
    display: grid;
    grid-template-rows: 50px auto 40px;
    height: 100vh;
    height: 100svh;
    color: var(--clr-white);
    background-color: var(--clr-background);
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 4%;
}

.control-bar {
    display: flex;

    margin-top: auto;
    padding: 10px;
}

.add-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    font-size: 40px;
    color: inherit;
    margin-left: auto;
    background-color: var(--clr-green);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.list-selection {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;
    background-color: var(--clr-lighter-background);
}

.list-selection > .active {
    color: var(--clr-green);
    font-weight: bold;
}

.list-selection-item {
    cursor: pointer;
    width: 100%;
}

.list-selection-item:not(:last-child) {
    border-right: 1px solid var(--clr-white);
}