#app {
    display: grid;
    grid-template-rows: 50px auto 40px;
    height: 100vh;
    height: 100svh;
    color: var(--clr-white);
    background-color: var(--clr-background);
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 4%;
}

.control-bar {
    display: flex;

    margin-top: auto;
    padding: 10px;
}

.add-item-btn {
    width: 40px;
    height: 40px;
    font-size: 32px;
    color: inherit;
    margin-left: auto;
    background-color: var(--clr-green);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.list-selection {
    display: flex;
    align-items: center;
    font-size: 22px;
    background-color: var(--clr-lighter-background);
}