.itemList {
    list-style-type: none;
    padding: 0;
    min-height: 10px;
    margin-bottom: 24px;
}

.itemList:empty,
.itemList:not(:has(li)) {
    display: none;
}

.itemList > li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    font-size: 16px;
}

.itemList > p {
    padding: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.item-options {
    display: flex;
    justify-content: space-between;
}

.checkbox, .checkbox-checked {
    width: 20px;
    height: 20px;
    background-color: var(--clr-white);
    border-radius: 5px;
    margin-top: 3px;
}

.checkbox-checked {
    background-color: var(--clr-green);
}

.add-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: inherit;
    margin-left: auto;
    background-color: var(--clr-green);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}