.itemList {
    list-style-type: none;
    padding: 0;
    min-height: 10px;
}

.itemList:empty {
    display: none;
}

.itemList > li {
    display: flex;
    padding: 10px;
    font-size: 16px;
}

.itemList > p {
    padding: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.checkbox, .checkbox-checked {
    width: 20px;
    height: 20px;
    background-color: var(--clr-white);
    border-radius: 5px;
    margin-left: auto;
}

.checkbox-checked {
    background-color: var(--clr-green);
}

.add-box {
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: inherit;
    margin-left: auto;
    background-color: var(--clr-green);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}